@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
  --hero-bg: #ffffff;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --hero-bg: #111111;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  @apply transition-colors duration-300;
}

.linear-text {
  background-image: linear-gradient(
    90deg,
    #9845e8 0%,
    #33d2ff 30%,
    #dd5789 50%
  );
  color: transparent;
  background-clip: text;
}

.social-btn {
  @apply cursor-pointer flex items-center justify-center
}

.social-btn span {
  transition: all 0.2s;
}

.social-btn:hover span {
  background-color: transparent;
  color: white;
}

.linear-border--blue {
  background-image: linear-gradient(
    30deg,
    #9358f7 0%,
    #3bade9 50%,
    #2ebae7 100%
  );
}

.linear-border--purple {
  background-image: linear-gradient(
    150deg,
    #6964DE 0%,
    #FCA6E9 100%
  );
}

.linear-border--red {
  background-image: linear-gradient(
    30deg,
    #F4426C 0%,
    #FBF2B1 100%
  );
}

.linear-border--purple-bold {
  background-image: linear-gradient(
    30deg,
    #D24074 0%,
    #6518B4 100%
  );
}
